<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masha.mapper.TlOrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.masha.model.TlOrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="point_fee" jdbcType="INTEGER" property="pointFee" />
    <result column="point_give" jdbcType="INTEGER" property="pointGive" />
    <result column="buy_give_point" jdbcType="REAL" property="buyGivePoint" />
    <result column="shipping_status" jdbcType="SMALLINT" property="shippingStatus" />
    <result column="back_status" jdbcType="INTEGER" property="backStatus" />
    <result column="comment_status" jdbcType="INTEGER" property="commentStatus" />
    <result column="comment_time" jdbcType="INTEGER" property="commentTime" />
    <result column="confirm_status" jdbcType="TINYINT" property="confirmStatus" />
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
    <result column="attr" jdbcType="VARCHAR" property="attr" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="kuaidi_id" jdbcType="INTEGER" property="kuaidiId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comment_star" jdbcType="INTEGER" property="commentStar" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, goods_id, amount, price, discount, point_fee, point_give, buy_give_point, 
    shipping_status, back_status, comment_status, comment_time, confirm_status, addtime, 
    attr, goods_sn, app, topic_id, warehouse_id, kuaidi_id, img, content, comment_star
  </sql>
  <select id="selectByExample" parameterType="com.masha.model.TlOrderGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tl_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tl_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tl_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.masha.model.TlOrderGoodsExample">
    delete from tl_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.masha.model.TlOrderGoods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tl_order_goods (order_id, goods_id, amount, 
      price, discount, point_fee, 
      point_give, buy_give_point, shipping_status, 
      back_status, comment_status, comment_time, 
      confirm_status, addtime, attr, 
      goods_sn, app, topic_id, 
      warehouse_id, kuaidi_id, img, 
      content, comment_star)
    values (#{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{price,jdbcType=REAL}, #{discount,jdbcType=DECIMAL}, #{pointFee,jdbcType=INTEGER}, 
      #{pointGive,jdbcType=INTEGER}, #{buyGivePoint,jdbcType=REAL}, #{shippingStatus,jdbcType=SMALLINT}, 
      #{backStatus,jdbcType=INTEGER}, #{commentStatus,jdbcType=INTEGER}, #{commentTime,jdbcType=INTEGER}, 
      #{confirmStatus,jdbcType=TINYINT}, #{addtime,jdbcType=VARCHAR}, #{attr,jdbcType=VARCHAR}, 
      #{goodsSn,jdbcType=VARCHAR}, #{app,jdbcType=VARCHAR}, #{topicId,jdbcType=INTEGER}, 
      #{warehouseId,jdbcType=INTEGER}, #{kuaidiId,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{commentStar,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.masha.model.TlOrderGoods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tl_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="pointFee != null">
        point_fee,
      </if>
      <if test="pointGive != null">
        point_give,
      </if>
      <if test="buyGivePoint != null">
        buy_give_point,
      </if>
      <if test="shippingStatus != null">
        shipping_status,
      </if>
      <if test="backStatus != null">
        back_status,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="confirmStatus != null">
        confirm_status,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="attr != null">
        attr,
      </if>
      <if test="goodsSn != null">
        goods_sn,
      </if>
      <if test="app != null">
        app,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="kuaidiId != null">
        kuaidi_id,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="commentStar != null">
        comment_star,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="pointFee != null">
        #{pointFee,jdbcType=INTEGER},
      </if>
      <if test="pointGive != null">
        #{pointGive,jdbcType=INTEGER},
      </if>
      <if test="buyGivePoint != null">
        #{buyGivePoint,jdbcType=REAL},
      </if>
      <if test="shippingStatus != null">
        #{shippingStatus,jdbcType=SMALLINT},
      </if>
      <if test="backStatus != null">
        #{backStatus,jdbcType=INTEGER},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=INTEGER},
      </if>
      <if test="confirmStatus != null">
        #{confirmStatus,jdbcType=TINYINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        #{attr,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="app != null">
        #{app,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="kuaidiId != null">
        #{kuaidiId,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="commentStar != null">
        #{commentStar,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.masha.model.TlOrderGoodsExample" resultType="java.lang.Long">
    select count(*) from tl_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tl_order_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.pointFee != null">
        point_fee = #{record.pointFee,jdbcType=INTEGER},
      </if>
      <if test="record.pointGive != null">
        point_give = #{record.pointGive,jdbcType=INTEGER},
      </if>
      <if test="record.buyGivePoint != null">
        buy_give_point = #{record.buyGivePoint,jdbcType=REAL},
      </if>
      <if test="record.shippingStatus != null">
        shipping_status = #{record.shippingStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.backStatus != null">
        back_status = #{record.backStatus,jdbcType=INTEGER},
      </if>
      <if test="record.commentStatus != null">
        comment_status = #{record.commentStatus,jdbcType=INTEGER},
      </if>
      <if test="record.commentTime != null">
        comment_time = #{record.commentTime,jdbcType=INTEGER},
      </if>
      <if test="record.confirmStatus != null">
        confirm_status = #{record.confirmStatus,jdbcType=TINYINT},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=VARCHAR},
      </if>
      <if test="record.attr != null">
        attr = #{record.attr,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSn != null">
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="record.app != null">
        app = #{record.app,jdbcType=VARCHAR},
      </if>
      <if test="record.topicId != null">
        topic_id = #{record.topicId,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseId != null">
        warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.kuaidiId != null">
        kuaidi_id = #{record.kuaidiId,jdbcType=INTEGER},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.commentStar != null">
        comment_star = #{record.commentStar,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tl_order_goods
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      discount = #{record.discount,jdbcType=DECIMAL},
      point_fee = #{record.pointFee,jdbcType=INTEGER},
      point_give = #{record.pointGive,jdbcType=INTEGER},
      buy_give_point = #{record.buyGivePoint,jdbcType=REAL},
      shipping_status = #{record.shippingStatus,jdbcType=SMALLINT},
      back_status = #{record.backStatus,jdbcType=INTEGER},
      comment_status = #{record.commentStatus,jdbcType=INTEGER},
      comment_time = #{record.commentTime,jdbcType=INTEGER},
      confirm_status = #{record.confirmStatus,jdbcType=TINYINT},
      addtime = #{record.addtime,jdbcType=VARCHAR},
      attr = #{record.attr,jdbcType=VARCHAR},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      app = #{record.app,jdbcType=VARCHAR},
      topic_id = #{record.topicId,jdbcType=INTEGER},
      warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      kuaidi_id = #{record.kuaidiId,jdbcType=INTEGER},
      img = #{record.img,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      comment_star = #{record.commentStar,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.masha.model.TlOrderGoods">
    update tl_order_goods
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="pointFee != null">
        point_fee = #{pointFee,jdbcType=INTEGER},
      </if>
      <if test="pointGive != null">
        point_give = #{pointGive,jdbcType=INTEGER},
      </if>
      <if test="buyGivePoint != null">
        buy_give_point = #{buyGivePoint,jdbcType=REAL},
      </if>
      <if test="shippingStatus != null">
        shipping_status = #{shippingStatus,jdbcType=SMALLINT},
      </if>
      <if test="backStatus != null">
        back_status = #{backStatus,jdbcType=INTEGER},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=INTEGER},
      </if>
      <if test="confirmStatus != null">
        confirm_status = #{confirmStatus,jdbcType=TINYINT},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        attr = #{attr,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="app != null">
        app = #{app,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="kuaidiId != null">
        kuaidi_id = #{kuaidiId,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="commentStar != null">
        comment_star = #{commentStar,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.masha.model.TlOrderGoods">
    update tl_order_goods
    set order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      discount = #{discount,jdbcType=DECIMAL},
      point_fee = #{pointFee,jdbcType=INTEGER},
      point_give = #{pointGive,jdbcType=INTEGER},
      buy_give_point = #{buyGivePoint,jdbcType=REAL},
      shipping_status = #{shippingStatus,jdbcType=SMALLINT},
      back_status = #{backStatus,jdbcType=INTEGER},
      comment_status = #{commentStatus,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=INTEGER},
      confirm_status = #{confirmStatus,jdbcType=TINYINT},
      addtime = #{addtime,jdbcType=VARCHAR},
      attr = #{attr,jdbcType=VARCHAR},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      app = #{app,jdbcType=VARCHAR},
      topic_id = #{topicId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      kuaidi_id = #{kuaidiId,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      comment_star = #{commentStar,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>